
.dg-draft {

    word-wrap: break-word;

    .active {
        font-weight: bold !important;

    }

    .dg-tabs {
        background-color: $tabs-bg-color;
        .refresh {
            margin-right: 24px;
            position: relative;
            .preloader-wrapper {
                width: 25px;
                height: 25px;
                top: 11px;
                .circle {
                    border-width: 2px;
                }
            }
        }
    }

    .cards {
        position: relative;
        max-width: 1200px;
        height: 80vh;
        margin: 0 auto;
        .dg-loading-wrapper {
            background-color: transparent;
        }

    }

    h1 {
        font-weight: bold;
        color: $input-disabled-solid-color;
    }

    .row {
        flex-wrap: wrap;
        justify-content: center;
    }

}
i {
    cursor: pointer !important;
}

.draft-card {


    .profile {

        .name, .updated-at {
            display: block;
        }

        .name {
            color: $link-color !important;
            text-transform: none !important;

        }
        img {
            @include profile-size;
            margin-right: 10px;

        }

    }

    .header {
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: visible !important;
        justify-content: flex-end;

        .private {
            opacity: 0.3 !important;
        }

        ul {
            margin: 0;
            li {
                height: 24px;
            }
        }
    }
    small {
        color: $input-disabled-solid-color;
    }

    .card-title {
        font-weight: bold;
    }
    .card-action {
        justify-content: space-between;

    }
}

.draft-card-actions {
    margin: 0;
    li {

        display: inline-block;

        a {
            margin-right: 16px !important;

        }
        .no-margin-right {
            margin-right: 0 !important;
        }

        .delete-draft {
            margin-right: 0 !important;
        }

    }
}

.draft-card-relative {
    position: relative !important;

}
    .show-public-draft-menu,
    .show-delete-draft-menu {
        line-height: initial;
        width: 100px;
        height: 130px;
        min-width: 200px !important;
        top: 20px;
        right: 0;
        display: block !important;
        opacity: 1 !important;
        text-transform: none;

        a {
            cursor: pointer;
            color: $error-color !important;
            margin: 0 !important;

        }

    }

