
.dg-topic-nav-btn {
    margin-right: 3px;
    margin-left: 3px;
}

.dg-nav-height {
    height: 64px;
}


.dg-nav-bar {
    @extend .dg-nav-height;
    margin-bottom: 0;

    .dg-start {
        img {
            width: 120px;
            display: block;
        }
    }

    .dg-end {
        padding-right: 0;
    }


    .drop {
        height: 30px !important;
        line-height: 30px !important;
    }



    .dg-end {
        .dg-notifications {
            padding-left: 0;
        }


        .profile-menu-btn {
            margin-right: 10px;
            img {
                display: block;
                height: 30px;
                width: 30px;
                margin-left: 0;
            }
        }
            .dg-user-menu {

                img {
                    margin-left: 16px;
                }

                top: 60px;
                right: 10px;
                display: block;
                opacity: 1;
                min-width: 200px;
                a {
                    color: $primary-color !important;
                }
                .dg-profile {
                    color: $link-color !important;

                }

        }

    }
}


.profile-menu-btn,
.dg-logo {
    cursor: pointer;
}


.dg-new-draft,
.dg-publish {

        background-color: $dropdown-bg-color;
        margin: 0;
        display: none;
        max-height: 650px;
        overflow-y: auto;
        opacity: 0;
        position: absolute;
        z-index: 999;
        color: $primary-color;
        max-width: 350px;
        min-width: 200px;
}


.dg-new-draft-show {
    line-height: initial;
    top: 60px;
    right: 90px;
    display: block !important;
    opacity: 1 !important;
    a {
        padding: 0;
    }


    input, input:focus, textarea:active{
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        margin: 0;
    }


    .card-content {
        padding-top: 16px;
        padding-bottom: 16px;
        .card-title {
            margin: 0
        }
    }



    .card-action:hover {
        a {
            width: 55px;
            background-color: transparent;
        }
    }
}


.dg-publish-menu {
    line-height: initial;
    top: 60px;
    right: 100px;
    display: block !important;
    opacity: 1 !important;

    .card-content {
        padding-top: 16px;
        padding-bottom: 16px;
        .card-title {
            margin: 0
        }
    }

    .tutorial-img-wrapper {
        display: block;
        width: inherit;
        white-space: nowrap;
        height: 100px;

        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        .tutorial-img {
            width: 68px;
            height: 68px;
            display: inline-block;
            background-color: blue;
            margin-left: 6px;
            margin-right: 6px;
            zoom: 1;
        }

    }

}








