

.user-profile {
    position: relative;
    height: 80vh;

        .dg-loading-wrapper {
            background-color: transparent;
        }



    .tabs {
        background-color: $body-bg-color;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        .tab:first-child {
            a {
                padding-left: 0 ;
            }
        }
    }

    .bio-full, .bio{
        display: block;
        width: 1200px;
        min-width: 400px;

        .row{
            margin: 0;
            .col {
                margin: 0;
            }
        }
        h1, .col{
            padding-left: 0;
        }

        .save {
            padding-right: 0;
            a {
                cursor: pointer;
            }
        }
    }

    .bio-other {

        font-weight: bold;
        font-size: 25px !important;
        color: $input-disabled-color;
    }

    input, input:focus{
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        margin: 0 !important;
        font-weight: bold;
        font-size: 25px !important;
        color: $input-disabled-color;
    }

    header {
        h1 {
            font-weight: bold;
            display: inline-block;
        }
        img {
            display: inline-block;
            margin-right: 24px;
        }
    }
    header::after {
        content: none;
    }


}
