


.dg-registration {
    width: 100%;

    .or {
        font-weight: bold !important;
        text-align: center;
        display: block;
    }

    @extend .dg-primary-colour;
    .dg-reg-header, .btn {
        background-color: #313131;
        color: $body-bg-color;
    }

    i, input {
        color: $body-bg-color;
    }

    input::placeholder, .or {
        color: #717171;
    }
    .disabled {

        background-color: #616161 !important;
    }

    form {
        padding: 0 !important;
        margin: 0 !important;
        width: 600px;
        background-color: #515151 !important;
        @extend .z-depth-0;
        @extend .card;

    }
}

@media screen and (min-width: 600px) {

    .dg-registration {
        height: 100%;
        position: fixed;
    }

    .dg-question {
        .container {
            max-width: 800px;
            div {
                padding: 15px 30px;
            }
        }
    }

    .dg-registration {
        height: 100%;
        form {
            max-width: 450px;
        }
    }

}
