


$body-bg-color: #f1f1f1;
$text-color: rgba(0, 0, 0, 0.87);
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$topic-size: 200px;


.success-style {
    border-bottom: 1px solid $success-color !important;
    box-shadow: 0 1px 0 0 $success-color !important;
}
.error-style {
    border-bottom: 1px solid $error-color !important;
    box-shadow: 0 1px 0 0 $error-color !important;
}
