$roboto-font-path: "~materialize-css/dist/fonts/roboto/";
@import "~materialize-css/sass/materialize";

$body-bg-color: #f7f7f7;
$text-color: rgba(0, 0, 0, 0.87);
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

html, body, #app {
    height: 100%;
}

body {
    min-width: 600px;
    background-color: $body-bg-color;
}

.dg-topic-img {
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

.dg-input {
    margin-bottom: 3px !important;
}

.dg-not-valid, .dg-not-valid:focus {
    border-bottom: 1px solid $error-color !important;
    box-shadow: 0 1px 0 0 $error-color !important;
}

.dg-valid, .dg-valid:focus {
    border-bottom: 1px solid $success-color !important;
    box-shadow: 0 1px 0 0 $success-color !important;
}

.dg-response-error {
    @extend .section;
    @extend .valign-wrapper;
    padding-left: 24px;
    padding-right: 24px;
    background-color: $error-color;
    color: white;
    div, i {
        display: inline-block !important;
    }
    i {
        padding-right: 18px;
    }

}

.dg-data-error {
    color: $error-color;
    font-size: small;
    margin-left: 42px;
}

.dg-text-black {
    color: $text-color;
}

.dg-text-white {
    color: $body-bg-color !important;
}

.dg-text-grey {
    color: grey;
}

.dg-text-bold {
    font-weight: bold !important;
}

.dg-loading {
    display: block;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.dg-logo {
    width: 120px;
    height: 30px;
}

.dg-logo:hover {
    cursor: pointer;

}

.dg-center {
    @extend .valign-wrapper;
    justify-content: center;
}

.dg-left {
    margin-left: auto;
}

.dg-primary-colour {
    @extend .grey;
    @extend .darken-3;
}

.dg-no-margins {
    margin: 0 !important;
}

.dg-right {
    margin-left: auto;
}

.dg-question {
    .container {
        max-width: 800px;
        div {
            background-color: $body-bg-color;
        }
    }
}

.dg-error-page {
    height: 100%;
    @extend .dg-primary-colour;
    @extend .dg-text-grey;

    span {
        font-weight: bold;
        font-size: 28px;
    }

    h1 {
        font-size: 100px;
    }

    .card {
        background-color: lighten($error-color, 30);
        @extend .z-depth-0;
        color: $error-color;
    }

}

.dg-topic-nav-btn {
    margin-right: 3px;
    margin-left: 3px;
}

.dg-nav-height {
    height: 64px;
}

.dg-registration {
    form {
        padding: 0 !important;
        margin: 0 !important;
        width: 600px;
        @extend .z-depth-0;
        @extend .card;
    }
}

@media screen and (min-width: 600px) {

    .dg-question {
        .container {
            max-width: 800px;
            div {
                padding: 15px 30px;
            }
        }
    }

    .dg-registration {
        height: 100%;
        @extend .dg-primary-colour;
        .dg-reg-header {
            background-color: $body-bg-color;
            color: $text-color;
        }
        .card {

            background-color: $body-bg-color;
        }
        form {
            max-width: 450px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
        }
    }

}
