$roboto-font-path: "~materialize-css/dist/fonts/roboto/";
@import "~materialize-css/sass/materialize";

$body-bg-color: #f7f7f7;
$text-color: rgba(0, 0, 0, 0.87) ;

body {

    min-width: 480px;
    background-color: $body-bg-color;
}


.dg-topic-img {
    height: 200px;
    width: 200px;
}

.dg-topic-a {
    color: $text-color;
    padding: 3px;
}

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dg-or {
    color: rgba(255, 255, 255, 0.5);
}

.dg-apps {
    width: 50px !important;
    height: 50px !important;
}
