$roboto-font-path: "~materialize-css/dist/fonts/roboto/";
@import "~materialize-css/sass/materialize";

@import "./_scss/variables";
@import "./_scss/registration";
@import "./_scss/loading";
@import "./_scss/error";
@import "./_scss/editor";
@import "./_scss/navBar";
@import "./_scss/draft";
@import "./_scss/tooltip";

html, body, #app {
    @extend .dg-full-height;
}

body {
    min-width: 600px;
    background-color: $body-bg-color;
}

.dg-full-height {
    height: 100%;
}


.dg-visible, .dg-topic-img {
    display: block;
}

.dg-invisible {
    display: none;
}

.dg-topic-img {
    margin: auto;
    height: $topic-size;
    width: $topic-size;
}


.dg-input {
    margin-bottom: 3px !important;
}

.dg-not-valid, .dg-not-valid:focus {
    @extend .error-style
}

.dg-valid, .dg-valid:focus {
    @extend .success-style
}

.dg-response-error, .dg-response-success {
    @extend .section;
    @extend .valign-wrapper;
    padding-left: 24px;
    padding-right: 24px;
    color: white;
    div, i {
        display: inline-block !important;
    }
    i {
        padding-right: 18px;
    }

}

.dg-response-success {

    background-color: $success-color !important;
    a {
        color: color("orange", "accent-2");
    }
    a:hover {
        color: lighten($card-link-color, 20%);
    }
}

.dg-response-error {
    background-color: $error-color;
}

.dg-data-error {
    color: $error-color;
    font-size: small;
    margin-left: 42px;
}

.dg-text-black {
    color: $text-color;
}

.dg-text-white {
    color: $body-bg-color !important;
}

.dg-text-grey {
    color: grey;
}

.dg-text-bold {
    font-weight: bold !important;
}


.dg-center {
    @extend .valign-wrapper;
    justify-content: center;
}

.dg-left {
    margin-left: auto;
}

.dg-no-margins {
    margin: 0 !important;
}

.dg-right {
    margin-left: auto;
}

.overlay {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s linear;
    opacity: 0;
    z-index: -1;

}

.overlay-visible {
    opacity: 1;
    z-index: 100;
    min-height: 100vh;
    min-width: 100vw;
}

